.container {
    width: 500px;
    align-content: center;
    margin: 0 auto;
  }
body {
  background-color: rgb(233, 233, 225);
}
  
  .grid {
    height: 400px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: #dcd6bc;
    margin-left: 50px;
    margin-top: 20px;
    border: 10px solid #dcd6bc;
    border-radius:7px;
    box-shadow: 0 0 10px rgba(0,0,0);
    margin-bottom: 10px;
  }

  .grid.dark{
    box-shadow: 0 0 10px rgba(255,255,255);
  }

  
  
  #flag {
    font-size: 25px;
    margin-top: 20px;
    margin-left: 50px;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
  
  }
  #flag.dark{
    color:white;
  }
  .valid {
    height: 40px;
    width: 40px;
    border: 5px solid;
    border-color: #f5f3eb #bab7a9 #bab7a9 #fff9db;
    box-sizing: border-box;
  }
  
  .checked {
    height: 40px;
    width: 40px;
    border: 2px solid;
    background-color: #cecab7;
    border-color: #9c998d;
    box-sizing: border-box;
  }
  
  .bomb {
    height: 40px;
    width: 40px;
    border: 5px solid;
    border-color: #f5f3eb #bab7a9 #bab7a9 #fff9db;
    box-sizing: border-box;
  }
  
  .one {
    color: #e76346;
  }
  
  .two {
    color: #4199d3;
  }
  
  .three {
    color: #57da59;
  }
  
  .four{
    color: #bb41d3;
  }
  .five{
    color: #db1a64
  }
  .six{
    color: #330470
  }
  
  #result {
    margin-top: 5px;
    margin-left: 55px;
    font-size: 20px;
    color: #e76346;
    text-shadow:0 0 10px rgba(0, 0, 0,0.6);
  }
  #result.dark{
    text-shadow:0 0 10px rgba(255, 255, 255);
  }

  #replay-button
  {
    color: #000000;
    font-size:15px;
    height: 35px;
    margin-top:15px;
    margin-left: 50px;
    background-color: #dcd6bc;
    transition-duration: 0.4s;
    border-radius: 10px;
    text-decoration: none;
    border: none;
    display: none;
    box-shadow: 0 0 10px rgba(0, 0, 0,0.6);
    font-family: 'Times New Roman', Times, serif;
  }
  #replay-button.dark{
    box-shadow:0 0 10px rgba(255, 255, 255);
  }
  #replay-button:hover {
    background-color: #747167;
    color: white;
    transition:0.3s ease-in-out;
  }
  .label{
    background-color: #111;
    display: flex;
    height:28px;
    width:55px;
    border-radius:40px;
    justify-content: center;
    align-items: center;
    position: relative;

  }

  .fa{
    margin:5px;
    font-size:17px;
  }

  .fa-moon{
    color:silver;
  }
  .fa-sun{
    color:#f39c12;
  }


  .circle{
    background-color:rgba(255,255,255);
    position:absolute;
    width:24px;
    height:24px;
    border-radius: 50%;
    left:2px;
    transform:translateX(1px);
    transition: transform 0.2s linear;
  }
  .pos{
    position: absolute;
    top:1vw;
    right: 1vw;
  }

